#container {
  width:			600px;
/*height:			400px;*/
  margin-left:		100px;
  text-align:		left;
  padding:			20px 50px 15px 50px;
  background-color:	#BBB;
}

fieldset {
  border-style:		none;
}

font {
  font-size:		14px;
}

#search {
  width:			200px;
}

#message {
  height:			25px;
  padding:			5px;
  color:			#F00;
  font-style:		italic;
}

#submit {
  display:			none;
  color:			#000;
  text-decoration:	none;
  border:			none;
  border-bottom:	2px solid #999;
}

#submit:hover {
  color:			#999;
  border-bottom:	2px solid #000;
}

#score {
  display:			none;
  color:			#000;
  text-decoration:	none;
  border:			none;
  border-bottom:	2px solid #999;
}

#score:hover {
  color:			#F00;
  border-bottom:	2px solid #000;
}

a {
  color:			#000;
  text-decoration:	none;
  border:			none;
  border-bottom:	2px solid #999;
}

a:hover {
  color:			#999;
  border-bottom:	2px solid #000;
}

#results {
  width:			550px;
  margin:			0px 0px 0px 150px;
  text-align:		left;
}

.paper {
  margin-top:		15px;
  text-align:		left;
  padding:			5px 0px 5px 10px;
  background-color:	#CCC;
}