body {
  margin:			50px 0px;
  padding:			0px;
/*text-align:		center;*/
}

#outer {
  width:			600px;
/*  height:			400px;*/
  margin:			100px/*auto*/;
  text-align:		left;
  padding:			20px 50px 15px 50px;
  background-color:	#EEE;
/*display:			none;*/
}

fieldset {
  border-style:		none;
}

font {
  font-size:		14px;
}

#search {
  width:			200px;
}

#message {
  height:			25px;
  padding:			5px;
  color:			#F00;
  font-style:		italic;
}

#submit {
  display:			none;
  color:			#000;
  text-decoration:	none;
  border:			none;
  border-bottom:	2px solid #999;
}

#submit:hover {
  color:			#999;
  border-bottom:	2px solid #000;
}